<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MF Hardware</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li appHighlightmenu><a href="#" [routerLink]="['/productlist','all']" >All Products</a></li>
        <li appHighlightmenu><a href="#" [routerLink]="['/productlist','laptops']" >Laptops</a></li>
        <li appHighlightmenu><a href="#" [routerLink]="['/productlist','phones']" >Phones</a></li>
        <li appHighlightmenu><a href="#" [routerLink]="['/productlist','tablets']" >Tablets</a></li>
      </ul>
      <div class="form-group navbar-form navbar-left">
        <input type="text" class="form-control" [(ngModel)]="productName" (mousedown)="onStartSearch()" (input)="onSearch()" placeholder="Search products" >    
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="this.userService.userLogged.$key != undefined"><a disabled>Welcome {{this.userService.userLogged.name}}!</a></li>
        <li appHighlightmenu *ngIf="this.userService.userLogged.$key == undefined"><a [routerLink]="['/register']">Register</a></li>
        <li appHighlightmenu *ngIf="this.userService.userLogged.$key != undefined">
          <a disabled>{{countProductscart}} <a href="#" title="Shopping cart" [routerLink]="['/shoppingcart']" class="glyphicon glyphicon-shopping-cart"></a></a>
        </li>
		    <li *ngIf="this.userService.userLogged.$key == undefined" appHighlightmenu>
          <a href="#"	[routerLink]="['/signin']" routerLinkActive="active">
            <span>Sign In</span>
          </a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



