
<h4>Shopping cart</h4>

<div class="alert alert-info" *ngIf="arrProductscart.length == 0">
  Please register and login to be able to buy products and view the cart!
</div>

<div class="container" *ngIf="arrProductscart.length > 0">

    <div class="col-md-2">
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Item</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Price</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Qty</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Total</div>
      </div>
    </div>

</div>

<div class="container" *ngFor="let productcart of arrProducts">
    <div class="col-md-2">
      <img src="../assets/images/products/{{productcart?.product.$key}}.jpg" alt="Sorry no image available" style="width: 100px; height:100px;">
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{productcart?.product.name}}</div>
        <div class="panel-body">{{productcart?.product.description}}</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">{{productcart?.product.price}}</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">{{productcart?.product.price}}</div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">{{producttotal}}</div>
      </div>
    </div>

</div>


<div class="container">
    <div class="col-md-12 col-md-offset">
      <div class="panel panel-default">
        <div class="panel-heading">{{subtotal}}</div>
      </div>
    </div>

    <div class="col-md-12 col-md-offset">
      <button class="btn-primary form-control" type="submit" [disabled]="this.checkingOut" 
        (click)="checkOut()">Checkout</button>
    </div>
</div>