<div class="container" >
  <h4>Shopping cart</h4>
  
  <div class="alert alert-info" *ngIf="userService.userLogged.$key == undefined">
    Please register and login to be able to buy products and view the cart!
  </div>

  <div class="alert alert-info" *ngIf="userService.userLogged.$key != undefined && arrProductscart.length == 0">
    There are no products in the cart
  </div>

                
  <table class="table" *ngFor="let productcart of arrProductscart">
    <thead *ngIf="arrProductscart.indexOf(productcart) == 0">
      <tr>
        <th></th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>

    <tr *ngFor="let product of arrProducts | filterProductByKey:productcart?.productkey">
      <td>
        <img src="../assets/images/products/{{product?.$key}}.jpg" alt="Sorry no image available" style="width: 100px; height:100px;">
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">{{product?.name}}</div>
          <div class="panel-body">{{product?.description}}</div>
        </div>
      </td>
      <td>{{product?.price | currency:'EUR':true}}</td>
      <td>{{productcart?.quantity}}</td>
      <td>{{productcart?.totalprice | currency:'EUR':true}}</td>
      <td><span class="glyphicon glyphicon-remove" (click)="removeProduct(productcart.$key)"></span></td>
    </tr>

  </table>
   
  

  <div class="container" *ngIf="arrProductscart.length > 0">
    
    <div class="col-md-3 col-md-offset-9">
      <div class="panel panel-default">
        <div class="panel-heading">Subtotal price</div>
        <div class="panel-body">{{order.totalprice | currency:'EUR':true}}</div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-9">
      <button class="btn-primary form-control" type="submit" [disabled]="this.checkingOut" (click)="checkOut()">Checkout</button>
    </div>

  </div>
  

</div>