


<div class="container">
  <a href="" [routerLink]="['/productlist',category]">{{category}}</a>

  <div *ngFor="let product of arrProducts" >
    
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">{{product?.name}}</div>
          <div class="panel-body">
            <a [routerLink]="['/product',product.$key]" href="#" title="{{product?.name}}" >
              <img src="../assets/images/products/{{product?.$key}}.jpg" style="width:200px;height:200px;" alt="Sorry no image available">
            </a>
          </div>
          <div class="panel-footer">{{product?.price | currency:'EUR':true}}</div>
        </div>
        
    </div>      
    
  </div>

</div>
